body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tag {
  background-color: lightgray;
  border-radius: 2px;
  margin: 1px;
  padding: 3px;
  border-color: black;
}

.tagList {
  display: flex;
  width: 400px;
  padding: 4px;
}

.page {
  /*margin-left: 10%;
  margin-right: 10%;*/
  margin-top: 20px;
  padding: 30px;
  background-color: rgb(246, 245, 245);
  border-radius: 10px;
}

.report{
  margin: 1px;
}

.mainLayout{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
}

.customTableContainer{
  margin : 5px;
}

tbody:nth-child(2){
  background-color: lightgray;
}

Link{
   text-decoration: none;
}